<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                    <key>UISceneStoryboardFile</key>
                    <string>Main</string>
                </dict>
            </array>
        </dict>
    </dict>
    
    <key>GIDClientID</key>
    <string>418267979836-8uca8r0rl7kl5fvmb8tnef4qsfbqcddo.apps.googleusercontent.com</string>

    <!-- Facebook and Google Login Configuration -->
    <key>CFBundleURLTypes</key>
    <array>
        <!-- Facebook -->
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb736792742102130</string>
            </array>
        </dict>

        <!-- Google Sign-In -->
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.418267979836-8uca8r0rl7kl5fvmb8tnef4qsfbqcddo</string>
            </array>
        </dict>
    </array>

    <key>FacebookAppID</key>
    <string>736792742102130</string>
    <key>FacebookDisplayName</key>
    <string>AuthApp</string>
    <key>FacebookClientToken</key>
    <string>592030a66ee74e61bb9c72259eb48b0d</string>

    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
    </array>
</dict>
</plist>
